*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar h1{
  margin: 15px;
  padding: 10px;
  padding-left: 10px;
  color: rgba(122,23,85,255);
  font-family:cursive;
}

.navigation-links ul{
  display: flex;
  justify-content: space-around;
  gap: 3px;
}
.navigation-links ul li{
  list-style: none;
  margin: 30px 40px 0 10px;
  color: rgba(122,23,85,255);
  font-weight: bold;
}

.home-container{
  display: flex;
}

.page-text{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 20px;
  position: relative;
  bottom: 60px;
  color: rgba(122,23,85,255);
}
.page-text h1{
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}

.page-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.page-text h1{
  width: 350px;
}

.page-buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 100px;
}
select{
  width: 540px;
  height: 45px;
  padding: 10px;
}

.page-buttons button{
  width: 100px;
  height: 35px;
  color: white;
  background-color: rgba(122,23,85,255);
}
.title{
  padding: 20px;
}
.title h2,h3{
  color: rgba(122,23,85,255);
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.images{
  width: 30%;
  padding: 10px;
  margin-left: 13px;
}

.images img,h2,p,button{
  padding: 10px;
}
.images h3,button{
  padding-left: 7px;
  margin-left: 5px;
}

.images button{
  color: white;
  background-color: rgba(122,23,85,255);
}

.headline-contact{
  padding: 10px;
  margin: 5px;
  color: rgba(122,23,85,255);
  text-align: center;
}

.contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-box input,select{
  width: 540px;
  height: 45px;
}

.contact-box label,.contact-box h2,.contact-box h3{
  position: relative;

}  
.contact-box button{
  color: white;
  background-color: rgba(122,23,85,255);
  
} 